body{
    background-color: rgb(185, 185, 185);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16pt;
}

h1 {
    color: red;
}

p, li {
    color: green;
}

li {
    list-style-type: square;
}

.special {
    color: orange;
    font-weight: bold;
}

a:link{
    color: pink;
}

a:visited{
    color: pink;
}

a:hover{
    color: black;
    font-size: 20pt;
    text-decoration: line-through;
}
