<!DOCTYPE html>
<link href="style.css" rel="stylesheet" type="text/css">
<title>Register</title>
<body>

    <div id="main">

        <div id="header"><a href="index.html"><img src="./images/discord_server_final_bew.jpg" width="200px" height="200px"></a></div>

        <div id="placeholder">

            <form method="POST" action="registerCompletion.html">
                
                <h4>Register</h4>

                <input type="text" placeholder="Username*" name="usern" required><br>
                <input type="password" placeholder="Password*" name="pw" required><br>
                <input type="password" placeholder="Confirm password*" name="cpw" required><br>
                <input type="email" placeholder="Email adress*" name="email" required><br>

                <input type="submit" value="register" name="submit">

            </form>

            <a href="index.html">Go back</a>

        </div>

        <div id="footer">We are happy to see you register!</div>


    </div>

</body>
</html>