<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../static/style.css">
    <title>
        {% if titel %}
        {{ titel }}
        {% else %}
        titel
        {% endif %}
    </title>
</head>
<body>
    <div id="container">
        <div id="header"><h1>Welkom op mijn webapplicatie!</h1></div>

        <hr style="width: 18%;">

        <div id="menu">
            <a href="/data">Data</a>
            <a href="/">Home</a>
            <a href="/hobbies">Terug</a>
        </div>

        <div id="inhoud">
            <hr>
            <img src="/static/gaming.jpg" style="margin-top: 15px;">
            <p>Mijn gaming hobbie gaat al in van toen ik 8 jaar was.</p>
            <hr>
        </div>
    </div>
</body>
</html>